#container {
  margin:0 auto;
  text-align:center;
  height:100vh;
  min-height:auto;


  #topSection {
    background-image: url('./images/meetup.jpg');
    background-size:cover;
    height:60vh;
  }

  #searchSection {
    padding-top:15%;
    h1 {
      color:white;
    }
  }

  #searchBox {
    width: 25em;
  }

  ul {
    background-color: white;
  }

  .question {
    border:1px solid #CCC;
    padding:2em;
  }

  .question:hover {
    color:plum;
  }

  .question:hover p{
    color:black;
  }

}

.answer {
  display:none;
  cursor:text;
  font-size:0.8em;
}
