@media screen and (max-width: 736px) {
  #container {
    .question {
      padding:1em;
    }

    #topSection {
      height:40vh !important;
    }

    #searchSection {
      h1 {
        padding-top:2em;
      }
    }
  }

  #noResults {
    top: 50% !important;
  }
}

//for iPhone 5
@media screen and (device-aspect-ratio: 40/71) {

  #container {
    #topSection {
      height:50vh !important;
    }

    .question {
      font-size:0.8em;
    }
  }

  #searchSection {
    margin:0 auto;
    width:80%;

    h1 {
      padding-top:1em !important;
    }

    #searchBox {
      width:20em;
    }
  }

  #noResults {
    top: 60% !important;
  }

}

//iPad Air
@media screen and (device-aspect-ratio: 3/4) {

  #container {
    #topSection {
      height:30vh !important;
    }
  }

  #noResults {
    top: 40% !important;
  }
}
